html {
  scroll-behavior: smooth;
}

body, select, button, input{
  background-color: rgb(13,17,23);
  color : rgb(255,255,255);
  padding: 0px;
  margin: 0px;

}

div {
	font-family: "Roboto", sans-serif;
}
#persistentHeader{
	background-color: rgb(26,34,46);
	border-bottom:1px solid white;
	position:sticky;
	top:0;
	z-index:1;
}

#footer{
	background-color: rgb(26,34,46);
	border-bottom:1px solid white;
}

.headerText{
	font-size: 48px;
	font-family: "Roboto", sans-serif;
	padding-left: 15px;
}

.tileHidden{
	opacity: 0.25;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.tile{
	border-radius: 15px;
	background-color: rgb(26,34,46);
	border:1px solid white;
	padding: 25px;
	height: 500px;
	
}

table, th, td, tr{
	
}
#mainDiv{
	width: 100%;
}
#tileContainer{
	padding-top: 25px;
}

#rightTableHeading{
	width: 60%;
}

#leftTableHeading{
	width: 40%;
}
#tileImageContainer{
	text-align: left;
	padding-top: 25px;
	padding-left: 25px;
}

.tileHeading{
	text-align: left;
	width: 50%;
	height: 0px;
	background-color: rgb(52,68,92);
}

.tileHeadingText{
	border-radius: 15px;
	text-align: left;
	padding: 15px;
	background-color: rgb(52,68,92);
}

.tileDescription{
	padding-top: 50px;
	text-align: left;
	height:350px
}

.tileDescriptionText{
	padding-top: 0px;
	text-align: left;
	background-color: rgb(26,34,46);
	color: white;
	height:100%;
}

#controlsContainer {
	top: 0;
	bottom: 0;
	position: sticky;
	height: 100%;
}

#button{
	height: 1000px;
}

ul{
	list-style-type: none;
	padding: 0;
	padding-top: 450px;
	padding-bottom: 450px;
	margin: 0;
}

#flipVert {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.controlIcon{
	width: 50px;
	height: 75px;
	filter: invert(1);
	user-select: none;
}

.controlButton{
	border: none;
	user-select: none;
}

.internalHTML {
	width:100%;
	height:100%;
}